{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "edge": "7",
                    "firefox": "60",
                    "chrome": "50",
                    "safari": "11.1"
                },
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "proxy",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}